.cardsHolder {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  box-shadow: 0 2px 20px 0 rgba(15, 24, 38, 0.1);
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.cardTitle {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 400;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: var(--color-primary);
}

.cardDescription {
  padding: 10px 15px;
  text-align: center;
  line-height: 20px;
}

@media (max-width: 768px) {
  .cardsHolder {
    justify-content: center;
  }
}
