.cardsHolder {
  composes: box-shadow from '../../styles/common.module.css';
  padding: 50px 30px;
  border-radius: 10px;
}

.service {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.title {
  font-family: var(--secondary-font);
  margin: 0;
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.4rem;
}

.description {
  margin-top: 10px;
  margin-left: 28px;
}

@media (max-width: 768px) {
  .cardsHolder {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .additionalTitleStyles {
    margin-bottom: 1rem;
  }
}
