.root {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.2)
    ),
    url('../../static/svg/hero1.jpg');
  height: 80vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  position: relative;
}

.wrapper {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-20%, 0);
  width: 35%;
}

.title {
  color: var(--color-primary);
  font-family: var(--secondary-font);
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.subtitle {
  color: var(--white-color);
  font-family: var(--secondary-font);
  line-height: 40px;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.button {
  composes: primary-button from '../../styles/common.module.css';
  width: 240px;
}

.button:hover {
  color: var(--white-color);
  cursor: pointer;
}

.buttonText {
  margin-top: 9px;
  display: block;
}

@media (max-width: 768px) {
  .wrapper {
    top: 20%;
    left: 20%;
    width: 70%;
  }
  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 1.2rem;
    line-height: 25px;
  }
}
