.leftImage {
  box-shadow: 0 2px 20px 0 rgba(15, 24, 38, 0.1);
  border-radius: 5px;
  width: 50%;
}

@media (max-width: 768px) {
  .leftImage {
    box-shadow: none;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 50px;
  }
}
