.leftImage {
  width: 50%;
}
.root {
  border-radius: 10px;
  overflow: hidden;
  composes: box-shadow from '../../styles/common.module.css';
}
@media (max-width: 768px) {
  .leftImage {
    box-shadow: none;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .additionalTitleStyles {
    padding-top: 7rem;
  }
}
