.rootContact {
  width: 50%;
  margin-bottom: 60px;
}
.contact {
  display: flex;
  margin-bottom: 20px;
}
.description {
  margin: 40px 0;
}
.contactName {
  margin-left: 20px;
}
.rootMessage {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
