.root {
  background-color: var(--color-navigation);
  color: var(--white-color);
}

.wrapper {
  padding: 70px 0;
}

.description {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style: none;
}

.list li {
  margin-right: 15px;
  cursor: pointer;
}

.logo {
  width: 60px;
}

@media (max-width: 768px) {
  .logo {
    margin: auto;
    margin-bottom: 10px;
    display: block;
  }

  .description {
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    text-align: center;
  }
  .name,
  .tc {
    text-align: center;
  }
}
