.root {
  background-color: var(--color-secondary);
  color: var(--white-color);
}

.wrapper {
  padding: 70px 0;
}

.description {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style: none;
}

.list li {
  margin-right: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .description {
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }
  .name,
  .tc {
    text-align: center;
  }
}
